.box{
  margin: 150px auto 0;
  width: 420px;
  padding: 30px;
  border: 2px rgb(168, 162, 162) solid;
  h2{
    font-size: 50px;
   
    margin-bottom: 30px;
  }

  .field{
    margin: 0 0 30px 30px;
    
  }
}